body{
  background-color:cyan;
  background-image: url(http://thumbs.dreamstime.com/z/to-do-list-heading-background-template-business-presentation-background-business-slide-show-64705070.jpg);
}
.heading{
color: red;
  text-align: center;
  text-decoration: underline;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 50px;
  font-weight: bold;
}
.input{

  text-align: center;
  font-size: 20px;
  margin-top: 20px;
  flex: auto;
  border: 2px solid black;
  border-radius: 5px;
  
}
.addButton{
  font-size: large;
  margin-top: 20px;
  text-align: center;
  background-color: lightgreen;
}
.container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}